h1, h3, .TodoListForm {
    font-family: raleway;
    margin: 1rem;
    text-align: center;
}

label {
    margin: .5rem;
}

.tasks {
    border: 1px solid #C0C0C0;
    border-radius: 1rem;
    background-color: #DCDCDC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: .5rem;
    width: 40vw;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
}

.task-finished {
    text-decoration: line-through
}

.tasks__list-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tasks__list-btn {
    margin: .25rem .25rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.tasks__list-btn:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}

.tasks__list-buttons {
    display: flex;
}

.tasks__list-item {
    margin-right: .25rem;
}

.tasks__list-items {
    padding: 0  1rem;
}

.tasks-title {
    margin-bottom: 2rem;
    text-decoration: underline
}

.UnfinishedTask:nth-child(even), .FinishedTask:nth-child(even) {
    background-color: #fff;
}

.update-form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0  .25rem;
}

.update-form button {
    font-size: 1rem;
}

.update-form input {
    font-size: 1rem;
    width: 100%
}