@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 18px/1 raleway sans-serif;
}

body {
  background: url(https://cdn.pixabay.com/photo/2018/07/27/00/32/apartment-3564955_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style-type: none;
}